{{define "main"}}
<div id = "list">

    <ul>
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>

</div>


<style>

    #list{
        margin-top: 3%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2em;
    }
</style>
{{end}}

{{define "main_style"}}
#blog_header{
    font-weight: 470;
    border-bottom:1px solid;
}
{{end}}
